.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    91.08deg,
    #dbbcc4 9.68%,
    #f3dfd8 32.98%,
    #d8bfd0 75.7%,
    #b7b1d5 99.11%
  );
  min-height: 100vh;
  padding: 60px;
}

.app-responsive-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 95%;
  max-width: 1200px;
  flex-grow: 1;
}
